
  <div class="mx-1 my-1 " id="bg2">
    <!--Navbar-->
    <div id="bg1">
      <mdb-navbar SideClass="navbar navbar-expand-lg px-5 py-4 mb-0" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                Home<span class="sr-only">(current)</span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-lightt" mdbWavesEffect routerLink="auth/signupEtudiant">A propos de
                  nous</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="auth/signupEtudiant">Historique</a>
                <a class="dropdown-item waves-lightt" mdbWavesEffect routerLink="auth/signupEtudiant">Bibliotheque</a>
                <div class="divider dropdown-divider"></div>
              </div>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                Programmes<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Licence</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Master</a>

                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Formation</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Certification</a>
              </div>
            </li>

            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                Connexion<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-lightt" mdbWavesEffect routerLink="auth/signinEtudiant">Etudiant</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="auth/signinEnseignant">Enseignant</a>
                <div class="divider dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                Inscription<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-lightt" mdbWavesEffect routerLink="auth/signupEtudiant"> Etudiant</a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="auth/signupEnseignant">Enseignant</a>
                <div class="divider dropdown-divider"></div>
              </div>
            </li>
            <!-- Search form -->
            <form class="form-inline waves-light" mdbWavesEffect>
              <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
              </div>
            </form>

          </ul>

          <!-- Links -->

          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link">
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <mdb-icon fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->
    </div>


    <div id="bg">
      <div class="container mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer mt-2" id="footer">


      <!-- Footer Links -->
      <div class=" text-center text-md-center row mx-auto" id="footer">

        <!-- Grid row -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3" id="footer">

          <!-- Content -->
          <h6 class="text-uppercase  font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur adipisicing
            elit.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 " id="footer">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2" id="footer">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3" id="footer">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Avenue de paris,1000 Tunis
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@success.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 216 70 000 000
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 216 70 000 000
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" id="bg1">© 2020 Copyright reserved
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
