<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Nouvelle Formation</h1>
</div>

<div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="form-row my-5">
            <a href="Master Communication">Master Communication</a>
        </div>
        <div class="form-row my-5">
            <a href="Master Marketing">Master Marketing </a>
        </div>
        <div class="form-row my-5">
            <a href="Master Management ">Master Management </a>
        </div>
        <div class="form-row my-5">
            <a href="Master Ressources humaines ">Master Ressources humaines</a>
        </div>
    </div>
</div>

